
.typelike{
  border-right: solid 3px rgba(0,255,0,.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 28px;
  color: rgba(255,255,255,.70);
  margin: 0 auto;
}

/* Animation */
.typelike{
  animation: animated-text 4s steps(44,end) 1s 1 normal both,
             animated-cursor 600ms steps(44,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 55%;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}

.loginText{
  margin:80px 20px 80px 20px;
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  color: rgba(255,255,255,.70);
  animation: opacidad 4s linear;

}

@keyframes opacidad {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.form{
  text-align: center;
  
}

.span{
  margin:20px 20px 0px 20px;
  display: flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  color: rgba(255,255,255,.70);
  animation: opacidad 4s linear;
}



.input{
  outline: none;
  width: 300px;
  text-align: center;
  margin:5px 20px 20px 20px;
  font-size: 20px;
  padding:5px;
  color: rgba(255,255,255,.70);
  animation: opacidad 4s linear;
  background-color: transparent;
  border-color: rgba(0,255,0,.75);
}

.input:focus {
  outline: 0;
  box-shadow: 0 0 0 3px rgba(0,255,0,.75);
}


.separador{
  width: 10px;
  height: 10px;
}
